@import "tailwindcss";
@import "@phosphor-icons/web/regular";
@import "@phosphor-icons/web/bold";
@import "@phosphor-icons/web/fill";
@import "@phosphor-icons/web/duotone";

@theme {
    --color-bg-primary: #fcfcf9;
    --color-bg-secondary: #f4f4f0;
    --color-text-main: #1c1d1a;
    --color-text-muted: #5e605c;
    --color-border-card: #e4e4df;
    --color-border-light: #ecece7;
    --color-brand-neutral: #0f5f46;
    --color-brand-hover: #0a4734;
    --font-serif-display: "Google Sans", serif;
    --font-sans-display: "Google Sans", sans-serif;
    --font-sans: "Google Sans", sans-serif;
    --font-serif: "Google Sans", serif;
}
